:root {
    --BGCOLORPU: #252525;
    --BGCOLORPR: #F3f3f3;
    --PRIMARY: #310F8E;
    --SECONDARY: #565759;
    --ACCENT1: #FEE440  ;
    --ACCENT2: #ed5BE8;
    --FONTCOLOR: #e9e8e8;
    --FONTCOLOR2: #252525;
    --FONTTITLE: "Playfair", sans-serif;
    --FONTTEXT: "Montserrat", sans-serif;
  }

  * {
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    font-family: var(--FONTTEXT);
    background-color: var(--BGCOLORPU);
    color: var(--FONTCOLOR);
  }

  main {
    padding-top: 70px;
}

  header {
      position: sticky;
      top: 0;
      background-color: #060606;
      width: 100%;
    z-index: 2000;
  }
  
.nav-menu a {
    color: #cac5c5;
    text-decoration: none;
  }
  
  .container {
    width: 1600px;
    margin: auto;
  }
  
  .subcontainer {
    width: 85%;
    margin: auto;
  }
  
  .navbar-container {
    min-height: 70px;
    display: flex;
  }
  
  .navbar-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
  }
.navbar-left .image-GA {
    height: 140px;
    width: 140px;
}
  
  .nav-branding-1,
  .nav-branding-2{
    color: white;
    font-size: 2rem;
  }
  
  .nav-branding-2 {
    display: none;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid rgba(211, 211, 211, 0.2);
  }
  
  .nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
  
  .nav-link {
    width: 100%;
    transition: 0.3s;
    padding: 20px 0;
  }
  
  .nav-link:hover {
    color: #ffffff;
  }
  
  .login-link{
    display: none;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
  }
  
  .navbar-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

.slider-container {
    width: 99.1vw;
    position: relative;
    margin: 0;
    height: 70vh;
    overflow: hidden;
}
.menu {
  position: absolute;
  bottom: 10px; /* Positionnez les points en bas du bloc de l'image */
  left: 50%; /* Positionnez les points au centre horizontalement */
  transform: translateX(-50%); /* Ajustez la position horizontale pour les centrer */
  z-index: 1000; /* Assurez-vous que les points ont un z-index supérieur à celui des images */
}

.container{
    margin: 0;
    padding: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}

.menu label:hover,
.menu label:focus {
  background: #1c87c9;
}

.slide-input{
    opacity: 0;
}
.slide-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

.image_slide {
    background-image: url(https://www.codeur.com/tuto/wp-content/uploads/2021/12/slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--FONTCOLOR);
    justify-content: center;
}


/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");


/*=============== BASE ===============*/


body {
  font-family: var(--FONTTEXT);
  background-color: var(--BGCOLORPU);
  color: var(--FONTCOLOR);
}

a {
  text-decoration: none;
}

.image_carousel2 {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card__container {
  padding-block: 5rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article {
  width: 300px; /* Remove after adding swiper js */
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__image {
  position: relative;
  background-color: var(--ACCENT1);
  padding-top: 1.5rem;
  margin-bottom: -.75rem;
}

.card__data {
  background-color: var(--SECONDARY);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card__img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card__shadow {
  width: 200px;
  height: 200px;
  background-color: var(--ACCENT2);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: .75rem;
}

.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  background-color: var(--first-color);
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  color: var(--dark-color);
  font-weight: 600;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}

@media(max-width:1600px) {
  .container {
    width: 100%;
  }
}

@media(max-width:1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 100%;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    width: 300px;
    left: -340px;
    top: 0;
    min-height: 100vh;
    padding: 0 20px;
    flex-direction: column;
    gap: 0;
    transition: 0.3s;
    background-color: #060606;
  }

  .nav-branding-2.active{
    opacity: 1;
    display: block;
  }

  .nav-link {
    padding: 15px 0;
  }

  .login-link {
    display: block;
  }

  .navbar-right button {
    display: none;
  }

  .nav-menu.active {
    left: 0;
  }

  .showcase-header {
    width: 100%;
    margin: auto;
  }

}

@media(max-width:480px) {
  .nav-menu {
    width: 200px;
    left: -240px;
  }
}