:root {
    --BGCOLORPU: #252525;
    --BGCOLORPR: #F3f3f3;
    --PRIMARY: #310F8E;
    --SECONDARY: #565759;
    --ACCENT1: #FEE440  ;
    --ACCENT2: #ed5BE8;
    --FONTCOLOR: #e9e8e8;
    --FONTCOLOR2: #252525;
    --FONTTITLE: "Playfair", sans-serif;
    --FONTTEXT: "Montserrat", sans-serif;
  }

  * {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  body{
    height: 1000vh;
  }

  main {
    padding-top: 70px;
}

  header {
      position: sticky;
      top: 0;
      background-color: #060606;
      width: 100%;
    z-index: 2000;
  }
  
.nav-menu a {
    color: #cac5c5;
    text-decoration: none;
  }
  
  .container {
    width: 1600px;
    margin: auto;
  }
  
  .subcontainer {
    width: 85%;
    margin: auto;
  }
  
  .navbar-container {
    min-height: 70px;
    display: flex;
  }
  
  .navbar-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
  }
.navbar-left img {
    height: 140px;
    width: 140px;
}
  
  .nav-branding-1,
  .nav-branding-2{
    color: white;
    font-size: 2rem;
  }
  
  .nav-branding-2 {
    opacity: 0;
    display: none;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid rgba(211, 211, 211, 0.2);
  }
  
  .nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
  
  .nav-link {
    width: 100%;
    transition: 0.3s;
    padding: 20px 0;
  }
  
  .nav-link:hover {
    color: #ffffff;
  }
  
  .login-link{
    display: none;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
  }
  
  .navbar-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }

main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  section{
    margin: 0;
    padding: 0;
  }
  img {
    opacity: 50%;
}
.slider-container {
    width: 102vw;
    position: relative;
    margin: 0;
    height: 70vh;
    overflow: hidden;
}
.menu {
  position: absolute;
  bottom: 10px; /* Positionnez les points en bas du bloc de l'image */
  left: 50%; /* Positionnez les points au centre horizontalement */
  transform: translateX(-50%); /* Ajustez la position horizontale pour les centrer */
  z-index: 1000; /* Assurez-vous que les points ont un z-index supérieur à celui des images */
}

.container{
    margin: 0;
    padding: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50px;
  margin: 0 0.2em 1em;
}

.menu label:hover,
.menu label:focus {
  background: #1c87c9;
}

.slide-input{
    opacity: 0;
}
.slide-img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

.image_slide1 {
    background-image: url(https://www.codeur.com/tuto/wp-content/uploads/2021/12/slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--FONTCOLOR);
}

.image-slide2{
background-image: url(https://www.codeur.com/tuto/wp-content/uploads/2021/12/slide2.jpg);
background-repeat: no-repeat;
background-size: cover;
color: var(--FONTCOLOR);
}

.image-slide3{
background-image: url(https://www.codeur.com/tuto/wp-content/uploads/2021/12/slide3.jpg);
background-repeat: no-repeat;
background-size: cover;
color: var(--FONTCOLOR);
}

img {
    display: none;
}

@media(max-width:1600px) {
  .container {
    width: 100%;
  }
}

@media(max-width:1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 100%;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    width: 300px;
    left: -340px;
    top: 0;
    min-height: 100vh;
    padding: 0 20px;
    flex-direction: column;
    gap: 0;
    transition: 0.3s;
    background-color: #060606;
  }

  .nav-branding-2.active{
    opacity: 1;
    display: block;
  }

  .nav-link {
    padding: 15px 0;
  }

  .login-link {
    display: block;
  }

  .navbar-right button {
    display: none;
  }

  .nav-menu.active {
    left: 0;
  }

  .showcase-header {
    width: 100%;
    margin: auto;
  }

}

@media(max-width:480px) {
  .nav-menu {
    width: 200px;
    left: -240px;
  }
}